@use '../custom' as *;
@use '../components/mixins.scss' as *;

.experience {
  h1 {
    padding: 2rem 0;
  }
}

.experienceRow {
  padding-top: 0rem;

  @include media-breakpoint-up(sm) {
    padding-top: 3rem;
  }
}
