@use '../custom' as *;
@use '../components/mixins.scss' as *;

.projects {
  @include gradientBackgroundPrimary;
  padding-bottom: 3rem;

  svg {
    transform: translate(0, -0.4px);
  }
}

.projectRow {
  padding-top: 0rem;
  padding-bottom: 3rem;

  div {
    h3 {
      padding: 1rem 0rem;
    }
    p {
      text-align: justify;
    }
  }

  @include media-breakpoint-up(sm) {
    padding-top: 3rem;
  }
}

.imageContainer {
  height: 10rem;

  img {
    height: 100%;
  }
}

.projectsBtn {
  border: 0.05rem solid $black;
  border-radius: 1rem;

  &:hover {
    @include gradientBackgroundPrimary;
  }
}

.modal-body {
  .modalContainer {
    height: 18rem;
    text-align: center;

    i {
      font-size: 7rem;
      color: red;
    }
    iframe {
      border-radius: 1rem;
      height: 100%;
      width: 100%;
    }
  }
}
