@use '../custom' as *;

body {
  font-family: "Poppins", sans-serif;
}

.headline {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.secondaryHeadline {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.paragraphBig {
  font-size: 1.25rem;
}

.paragraph {
  font-size: 1rem;
}

.secondaryElement {
  font-size: 0.875;
}
